@mixin center($type: 'both') {
    display: flex;

    @if $type == 'horinzontal' {
        justify-content: center;
    }
    @else if $type == 'vertical' {
        align-items: center;
    }
    @else if $type =='both' {
        justify-content: center;
        align-items: center;
    }
}
